.inner-content {
    

        .h-content {
            display: flex;
            flex-direction: column;
            text-align: left;
            width: fit-content;
            margin: auto;
            margin-bottom: 50px;

                h2 {
                    font-size: 2rem;
                    color: #333;
                    margin-bottom: 8px;
                    letter-spacing: 2px;
                    text-transform: uppercase;
                }

                h4 {
                    font-size: 17px;
                    letter-spacing: 1px;
                    color: #555;
                }
        }

        .b-content {
            form {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                width: fit-content;
                margin: auto;

                .form-group {
                    margin-bottom: 19px;
                    width: 550px;

                    .label {
                        display: flex;
                        align-items: flex-start;
                    }

                    input {
                        width: 100%;
                        padding: 11px;
                        border-radius: 7px;
                        border: 1px solid #ccc;
                        outline: none;
                        color: #666;
                        font-size: 18px;
                        letter-spacing: 1.5px;
                        background: #f2f2f2;
                    }
                }

                button {
                    padding: 10px 29px;
                    border-radius: 7px;
                    border: 1px solid black;
                    background-color: black;
                    color: white;
                    font-size: 16px;
                    font-style: italic;
                    text-transform: uppercase;
                    letter-spacing: 1px;
                    cursor: pointer;
                }
            }
        }
}